@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper mt-3">
    <section class="content">
        <div class="container-fluid">
            <h5 class="mb-2">İstatistikler</h5>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#1abc9c; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Toplam Cari</span>
                            <span class="info-box-number">@ViewBag.d1</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#2ecc71; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Ürün Sayısı</span>
                            <span class="info-box-number">@ViewBag.d2</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#3498db; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Personel Sayısı</span>
                            <span class="info-box-number">@ViewBag.d3</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#9b59b6; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Kategori Sayısı</span>
                            <span class="info-box-number">@ViewBag.d4</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#16a085; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Toplam Stok</span>
                            <span class="info-box-number">@ViewBag.d5</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#27ae60; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Marka Sayısı</span>
                            <span class="info-box-number">@ViewBag.d6</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#2980b9; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Kritik Seviye</span>
                            <span class="info-box-number">@ViewBag.d7</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#8e44ad; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Max Fiyatlı Ürün</span>
                            <span class="info-box-number">@ViewBag.d8</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#f1c40f; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Min Fiyatlı Ürün</span>
                            <span class="info-box-number">@ViewBag.d9</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#e67e22; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Max Marka</span>
                            <span class="info-box-number">@ViewBag.d10</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#e74c3c; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Buzdolabı Sayısı</span>
                            <span class="info-box-number">@ViewBag.d11</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#95a5a6; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Laptop Sayısı</span>
                            <span class="info-box-number">@ViewBag.d12</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#f39c12; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">En Çok Satan</span>
                            <span class="info-box-number">@ViewBag.d13</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#d35400; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Kasadaki Tutar</span>
                            <span class="info-box-number">@ViewBag.d14</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#c0392b; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Bugünkü Satşlar</span>
                            <span class="info-box-number">@ViewBag.d15</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box" style="background-color:#7f8c8d; color: #fff">
                        <div class="info-box-content">
                            <span class="info-box-text">Bugünkü Kasa</span>
                            <span class="info-box-number">@ViewBag.d16</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>
