@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper mt-3">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Personeller</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Personel Ad</th>
                                <th>Personel Soyad</th>
                                <th>Görsel</th>
                                <th>Departman</th>
                                <th>Düzenle</th>
                                <th>Satışlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PersonelID</td>
                                    <td>@item.PersonelAd</td>
                                    <td>@item.PersonelSoyad</td>
                                    <td>@item.PersonelGorsel</td>
                                    <td>@item.Departman.DepartmanAd</td>
                                    <td><a href="/Personel/PersonelDuzenle/@item.PersonelID" class="btn btn-outline-info">Düzenle</a></td>
                                    <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelID" class="btn btn-outline-danger">Satışlar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Ekle</a>
        </div>
    </section>
</div>

