@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h4 class="mt-4">Personeller</h4>
    <div class="card mb-4">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Personel Ad</th>
                        <th>Personel Soyad</th>
                        <th>Görsel</th>
                        <th>Departman</th>
                        <th>Düzenle</th>
                        <th>Satışlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PersonelID</td>
                            <td>@item.PersonelAd</td>
                            <td>@item.PersonelSoyad</td>
                            <td>@item.PersonelGorsel</td>
                            <td>@item.Departman.DepartmanAd</td>
                            <td><a href="/Personel/PersonelDuzenle/@item.PersonelID" class="btn btn-outline-info">Düzenle</a></td>
                            <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelID" class="btn btn-outline-danger">Satışlar</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Ekle</a>
        </div>
    </div>
</div>